<template name="logs">
  <p>Remote Console Engaged</p>
  {{#each allLogs}}
    <div class="log-entry">
      <pre><code class="language-javascript"><span class="meth {{meth}}">{{meth}}: </span>{{message}}</code></pre>
      <p class="meta">
        <a href="#" class="open">Open</a> <a class="hide">Hide</a> &mdash;
        <small data-livestamp="{{created_at}}"></small> &mdash;
        Organization: {{org_id}} User ID: {{ext_id}} 
        &mdash; From: {{from}}
      </p>
    </div>
  {{/each}}
  {{> clear_logs}}
</template>

<template name="clear_logs">
  <button class="hide_all">Hide All Logs</button>
  <button class="clear_logs">Clear the Console</button>
</template>